@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #5b16fc;
  --color-primary-content: #ffffff;
  --color-secondary: #10c4e3;
  --color-secondary-content: #090476;
  --color-base-100: #f3f5fd;
  --color--base-content: #0a029e;
  --color--base-200: #cdcdce;
  --color--base-200-content: #363636;
  --color--base-300: #8c8c8d;
  --color--base-300-content: #efeff5;
  --color--neutral: #0f7eba;
  --color--neutral-content: #eaedf8;
  --color--accent: #32049c;
  --color--accent-content: #e7dffa;
}
